<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2" >
    <h2>Edit!</h2>
    <form method="post" action="/listings/<%=list._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%=list.title%> " class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" class="form-control" required><%=list.description%></textarea>
            <div class="invalid-feedback">Description should should be valid</div>
        </div>
        <div class="mb-3" ><br>
            <p>Current Image</p>
            <img src="<%=originalImageUrl%>" alt="" >
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Listing Image</label>
            <input  name="listing[image]" type="file" class="form-control">
        </div>
        <div class="mb-3">
            <select name="listing[category]" class="form-select" aria-label="Default select example">
                <option value="trending" selected>Trending</option>
                <option value="rooms">Rooms</option>
                <option value="iconicCities">Iconic Cities</option>
                <option value="beachfront">Beachfront</option>
                <option value="farm">Farm</option>
                <option value="pool">Pool</option>
                <option value="camping">Camping</option>
                <option value="arctic">Arctic</option>
                <option value="mountains">Mountains</option>
              </select>
            </div>
       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%=list.price%>" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%=list.location%>" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
       </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%=list.country%>" class="form-control" required>
            <div class="invalid-feedback">country should be valid</div>
        </div>
        <button class="btn btn-danger edit-btn">add!</button>
    </form>
</div>
</div>
</body>



